.pera {
    color: green
}

#Manzana {
    color: deeppink;
}

.sandia {
    color: red;
}

.Kiwi {
    color: orange;
}

#melocoton {
    color: brown;
}

#mango {
    color: black;
}

.naranja {
    color: navy;
}
