.si {
    color: green
}

#no {
    background-color: blueviolet;
}

.q {
    color: red;
}

.t {
    color: orange;
}

#e {
    color: brown;
}

#a {
    color: white;
    background-color: black;
}

.b {
    color: navy;
}


