header {
    background-color: black;
    padding: 1em;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu li {
    margin-right: 1;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a {
    text-decoration: none;
    color:bisque;
    padding: 1em;
    border: 0.1em solid #ffff;
    border-radius: 0.5em;
}