header {
    width: 98.2%;
    height: 79px;
    background: #DAEDFF;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Navegaci贸n {
    font-size: 2em;
    list-style: none;
    display: flex;
}

.Navegaci贸n li {
    margin: 10px;
    text-decoration: none;
    padding: 1em;
}

.Navegaci贸n li:last-child {
    margin-right: 0;
}

.Navegaci贸n li a {
    text-decoration: none;
    color:rgb(0, 0, 0);
}

.Horizontal{
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    width: 50%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.column a {
    font-size: 1.5em;
    font-style: oblique;
    display: block;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}

.column a:hover {
    background-color: #45a049;
}

footer {
    width: 100%;
    height: 200px;
    background: #DAEDFF;
    clear: both;
    text-align: center;
    line-height: 60px;
}

img {
    border-radius: 50%;
    text-align: center;
    margin-top: 80px;
}