body {
    margin: 0;
    padding: 0;
    background-color: #E2F7FF;
}

header {
    width: 98.2%;
    height: 79px;
    background: #DAEDFF;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Navegaci贸n {
    font-size: 2em;
    list-style: none;
    display: flex;
}

.Navegaci贸n li {
    margin: 10px;
    text-decoration: none;
    padding: 1em;
}

.Navegaci贸n li:last-child {
    margin-right: 0;
}

.Navegaci贸n li a {
    text-decoration: none;
    color:rgb(0, 0, 0);
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

p { 
    font-size: 1.3em;
}

footer {
    width: 100%;
    height: 200px;
    background: #DAEDFF;
    clear: both;
    text-align: center;
    line-height: 60px;
}

img {
    border-radius: 50%;
    text-align: center;
    margin-top: 60px;
}

